body{
	background-color: limegreen;
}
p{
	font-size: 50px;
    color: darkblue;
    
}
.ex1 {
font-family: Verdana, Arial, Helvetica, sans-serif;	
}
.ex2 {
	font-family: fantasy;
font-weight: 700;
}
.ex3 {
font-family: 'Press Start 2P', cursive;
}
.ex4 {
font-family: 'Rubik Spray Paint', cursive;
}
.ex5 {
font-family: 'Ruslan Display', cursive;
}